<html>
<head>
  {% if title %}
  <title>{{ title }} - Debater</title>
  {% else %}
  <title>Welcome to Debater</title>
  {% endif %}
</head>
<body>
  <div>
    Debater:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('create_debate') }}">Create Debate</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
