{% extends "base.html" %}

{% block content %}
<h1>Create a Debate</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.topic.label }}<br>
    {{ form.topic(size=32) }}<br>
    {% for error in form.topic.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.user_role.label }}<br>
    {{ form.user_role }}
  </p>
  <p>
    {{ form.second_debater.label }}<br>
    {{ form.second_debater(size=32) }}<br>
    {% for error in form.second_debater.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
